.App-logo {
  height: 12vmin;
  margin-bottom: 24px;
  pointer-events: none;
}

input {
  border-radius: 6px;
  display: flex;
  flex-basis: 128px auto;
  height: 32px;
  margin-bottom: 8px;
  text-align: center;
  width: 240px;
}

.buttons-container button {
  border: 1px solid black;
  border-radius: 6px;
  height: 32px;
  width: 104px;
}

.btn-play {
  margin-right: 20px;
}
